			<nav id="site-nav" class="nav-smart">
				<div>
					<a class="site-logo" href="{{ site.baseurl }}/nosotros/" title="Más Sobre Pascual y Furio"><img id="cover-logo" src="../hipertextos/brand/logo.svg" alt="Pascual y Furio"></a>
					<input type="checkbox" id="mobnav" name="mobnav" aria-hidden="true" hidden> 
					<strong><label for="mobnav">Menú<mark></mark></label></strong>
					<div hidden>
						<a href="{{ site.baseurl }}/" title="Volver al Inicio"><b><img src="../hipertextos/brand/icon.png" alt="CareSens Dual icono">{{ site.home }}</b></a>
						<a href="{{ site.baseurl }}/manuales" title="Manuales de uso en PDF">Manuales</a>
						<a href="{{ site.baseurl }}/sintomas" title="¿Que es la diabetes?">Sintomatología</a>
						<a href="{{ site.baseurl }}/prevencion" title="Consejos para la prevención">Prevención</a>
						<a href="{{ site.baseurl }}/ninos" title="Diabetes en Niños">Niños</a>
						<a href="{{ site.baseurl }}/nosotros/" title="Más sobre Pascual y Furio">Nosotros</a>
					</div>
				 </div>
			</nav>