			<nav id="site-nav" class="nav-smart">
				<div>
					<a class="site-logo" href="{{ site.baseurl }}/contacte/" title="Más Sobre Pascual y Furio"><img id="cover-logo" src="../hipertextos/brand/logo.jpg" alt="CareSens Dual icono" class="anm-scaleUpDown delay-300 slow"></a>
					<input type="checkbox" id="mobnav" name="mobnav" aria-hidden="true" hidden> 
					<strong><label for="mobnav">Menú<mark></mark></label></strong>
					<div hidden>
						<a href="{{ site.baseurl }}/" title="Volver al Inicio"><b><img src="../hipertextos/brand/icon.png" alt="Pascual y Furio">{{ site.home }}</b></a>
						<a href="{{ site.baseurl }}/carta" title="Carta i menús">Manuales</a>
						<a href="{{ site.baseurl }}/carta" title="Carta i menús">Sintomatología</a>
						<a href="{{ site.baseurl }}/carta" title="Carta i menús">Prevención</a>
						<a href="{{ site.baseurl }}/carta" title="Carta i menús">Niños</a>
						<a href="{{ site.baseurl }}/contacte/" title="Sobre nosaltres">Nosotros</a>
					</div>
				 </div>
			</nav>