---
layout: default
home: true
---

  	{% include partials/head.html %}  	
<main id="page-main" role="main">
	<em><a class="top" href="#page-main"><img src="../hipertextos/svg/arrow-up.svg"></a></em>
		<div id="horari">
  			{% include isens.html %} 
  			{% include exclusivas.html %} 
		</div>
		<hr class="lines">
	<div id="layout">
			<h3 class="title">Especificaciones y características</h3>
		<div class="justify columns-2">		
			<h5>Especificaciones para la prueba de glucosa en sangre</h5>
			<ul class="list-circle">
				<li>Tiempo de prueba: <b>5 segundos</b></li>
				<li>Volumen de la muestra: <b>minimo 0.4 µL </b></li>
				<li>Rango de la prueba: <b>10 - 600 mg/dL</b></li>
				<li>Muestra: sangre fresca capilar / arterial / venosa / neonatal</li>
			</ul>
			<h5>Características para la prueba de glucosa en sangre</h5>
			<ul class="list-circle">
				<li>Codificación automática fiable con la tecnología CodeSens™</li>
				<li>Precisión avanzada con la tecnología CoreSignal™</li>
				<li>Pantalla grande (2,5 pulgadas) y retroiluminación automática LCD</li>
				<li>Extractor de tira</li>
				<li>Bluetooth® SMART (Opcional)</li>
				<li>Pre/Post-comida/ayuno/Sin marca de señalización</li>
				<li>Promedios más de 1, 7, 14, 30 y 90 días<br>
				(Total / Pre-meal / Post-meal / Fasting)</li>
				<li>Alarmas (después de la comida y 3 alarmas de tiempo fijo)<br>
				(* 2 horas después de la comida)</li>
				<li>Advertencias de hipoglucemia e hiperglucemia</li>
				<li>Alarma de fecha de caducidad de la tira</li>
			</ul>
			<h5>Precisión avanzada</h5>
			<p><b>Tecnología CoreSignal™</b> – Minimizar los efectos de variación y interferencia dentro del lote<br>
			<b>Tecnología CodeSens™</b> – Reducir la variación de lote a lote y error de usuario</p>
			<h5>Funciones extendidas de la gestión de datos</h5>
			<p><b>Opciones de pre-comida / post-comida / ayuno / sin marcas<br>
			Promedios totales / pre-comida / post-comida / ayuno - 1, 7, 14, 30 y 90 días<br>
			1.000 resultados de memoria– Se conecta a SmartLog (aplicación de PC y Mobil) para un análisis más completo</p>
			<h5>Convenientes operaciones en un solo paso</h5>
			<p><b>Codificación automática</b> – Sólo tiene que insertar la tira, y usted está listo para probar en un solo paso<br>
			<b>Ajuste de una etapa de la alarma después de la comida</b> – Sólo presione un botón, y la alarma se establece en un paso</p>
			<h5>Diseño Practico</h5>
			<ul class="list-circle">
				<li>Pantalla grande (2,5 pulgadas) y retroiluminación automática LCD</li>
				<li>Extractor de tira – Puede reducir el potencial riesgo de exposición a la sangre</li>
				<li>Conectividad inalámbrica con Bluetooth® SMART</li>
				<li>Diseño del puerto de alimentación con una franja clara y fácil</li>
				<li>Utilidad de 3 botones– La interfaz de usuario de 3 botones (UI) es más conveniente que la interfaz de usuario de 2 botones</li>
				<li>Ajuste de alarma de tiempo de operación de 2 botones– Puede evitar ajustes de alarma no intencionados</li>
				<li>Función de advertencia de la hipoglucemia y la hiperglucemia</li>
				<li>Función de alarma de fecha de caducidad de la tira</li>
				<li>Función de encendido / apagado del sonido de pitido</li>
				<li>La tira señala la entrada</li>
				<li>La tira tiene ventana de confirmación de relleno</li>
				<li>Pantalla grande</li>
				<li>Cojin antideslizamiento</li>
				<li>Tira en punta</li>
				<li>Almohadilla de goma antideslizante en la parte trasera</li>
			</ul>
			
			
		</div>
		<div id="alternativa">
			<h5><small><i class="icon-flickr"></i></small></h5>
			<h4><small>{{ site.alternativa }}<br>
			{{ site.natural }}<br>
			{{ site.terra }}</small></h4>
			<h5><small><i class="icon-flickr"></i></small></h5>
		</div>
		<hr class="lines">
		<em><a class="detalls" href="{{ site.baseurl }}/contacte/#intro" title="Més Informació"><i class="icon-support"></i> Detalls</a></em>
		<hr class="lines">
	</div>
</main>
		<div id="justeat">
  			{% include premis.html %} 
		</div>