---
layout: default
home: true
---

  	{% include partials/head.html %}  	
<main id="page-main" role="main">
	<em><a class="top anm-moveFromBottomFade delay-900" href="#page-main"><img src="../hipertextos/svg/arrow-up.svg"></a></em>
		<div id="horari">
  			{% include isens.html %} 
  			{% include exclusivas.html %} 
			<hr>
		</div>
	<div id="layout">
		<hr>
		<h2 class="title">Especificaciones y características</h2>
		<hr>
		<div class="justify columns-2">		
			<h4>Características</h4>
			<h5>para la prueba de glucosa en sangre</h5>
			<ul class="list-circle">
				<li>Codificación automática fiable con la tecnología CodeSens™</li>
				<li>Precisión avanzada con la tecnología CoreSignal™</li>
				<li>Pantalla de 2,5 pulgadas y retroiluminación automática LCD</li>
				<li>Extractor de tira</li>
				<li>Bluetooth® SMART (Opcional)</li>
				<li>Pre/Post-comida/ayuno/Sin marca de señalización</li>
				<li>Promedios más de 1, 7, 14, 30 y 90 días</li>
				<li>Alarmas (después de la comida y 3 alarmas de tiempo fijo)</li>
				<li>Advertencias de hipoglucemia e hiperglucemia</li>
				<li>Alarma de fecha de caducidad de la tira</li>
			</ul>
			<h4>Especificaciones</h4>
			<h5>para la prueba de glucosa en sangre</h5>
			<div id="especifics">
				<h5><span class="icon-alarm"></span><br>Tiempo de prueba:<br>5 segundos</h5>
				<h5><span class="icon-selected"></span><br>Volumen de la muestra:<br>minimo 0.4 µL</h5>
				<h5><span class="icon-lab"></span><br>Rango de la prueba:<br>10 - 600 mg/dL</h5>
				<h5><span class="icon-heart"></span><br>Muestra:<br>sangre fresca capilar / arterial / venosa / neonatal</h5>
			</div>
		</div>
		<img class="smartlog" src="../hipertextos/brand/conectivity.jpg">
		<hr>
		<div class="justify columns-2">		
			<h5>Funciones extendidas de la gestión de datos</h5>
			<ul class="list-circle">
				<li><b>Opciones de pre-comida</b><br>post-comida / ayuno / sin marcas</li>
				<li><b>Promedios totales</b><br>pre-comida / post-comida / ayuno</li>
				<li><b>1.000 resultados de memoria</b><br>Conexión SmartLog (PC/Mobil)</li>
			</ul>
			<h5>Convenientes operaciones en un solo paso</h5>
			<ul class="list-circle">
				<li><b>Codificación automática</b><br>Sólo tiene que insertar la tira, y usted está listo para probar en un solo paso</li>
				<li><b>Ajuste de una etapa de la alarma después de la comida</b><br>Sólo presione un botón, y la alarma se establece en un paso</li>
			</ul>
			<br>
		</div>
		<div id="advanced">
			<div class="thumb-3">
				<img class="smartlog" src="../hipertextos/brand/smartlog.jpg">
			</div>
			<div class="thumb-9">
				<h5>Precisión avanzada</h5>
				<ul class="list-circle">
					<li><b>Tecnología CoreSignal™</b><br>Minimizar los efectos de variación y interferencia dentro del lote</li>
					<li><b>Tecnología CodeSens™</b><br>Reducir la variación de lote a lote y error de usuario</li>
				</ul>
			</div>
		</div>
		<br>
		<h4 class="headline">Diseño Practico</h4>
		<div class="justify columns-2">		
			<ul class="list-circle">
				<li>Pantalla de 2,5 pulgadas y retroiluminación automática LCD</li>
				<li>Extractor de tira. Riesgo de exposición a la sangre reducido</li>
				<li>Conectividad inalámbrica con Bluetooth® SMART</li>
				<li>Diseño del puerto de alimentación con una franja clara y fácil</li>
				<li>Utilidad de 3 botones. Interfaz de usuario de 3 botones (UI)</li>
				<li>Ajuste de alarma de tiempo de operación de 2 botones<br>Puede evitar ajustes de alarma no intencionados</li>
				<li>Función de advertencia de la hipoglucemia y la hiperglucemia</li>
				<li>Función de alarma de fecha de caducidad de la tira</li>
				<li>Función de encendido / apagado del sonido de pitido</li>
				<li>La tira señala la entrada</li>
				<li>La tira tiene ventana de confirmación de relleno</li>
				<li>Pantalla grande</li>
				<li>Cojin antideslizamiento</li>
				<li>Tira en punta</li>
				<li>Almohadilla de goma antideslizante en la parte trasera</li>
			</ul>
		</div>
		<hr class="lines">
		<em><a class="detalls" href="{{ site.baseurl }}/manuales" title="Més Informació"><i class="icon-support"></i>Manuales</em>
		<hr class="lines">
	</div>
</main>