    	<div class="jdialog closed" id="dialog">
			<div>
				<div class="thumb-3">
					<span class="icon-build"></span>
				</div>
				<div class="thumb-9">
				<h3>Pascual y Furio</h3>
				<h4><small><span class="icon-location"></span> VALENCIA <b>Central</b></small></h4>
				<p>{{ site.location }} {{ site.city }}<br><a href="mailto:{{ site.email }}">{{ site.email }}</a> <a href="tel:{{ site.phone }}">{{ site.phone }}</a></p>
				<h4><small><span class="icon-location"></span> CATALUÑA</small></h4>
				<p>{{ site.location2 }} {{ site.city2 }}<br><a href="mailto:{{ site.email2 }}">{{ site.email2 }}</a> <a href="tel:{{ site.phone2 }}">{{ site.phone2 }}</a></p>
				<h4><small><span class="icon-location"></span> EXTREMADURA</small></h4>
				<p>{{ site.location3 }} {{ site.city3 }}<br><a href="mailto:{{ site.email3 }}">{{ site.email3 }}</a> <a href="tel:{{ site.phone3 }}">{{ site.phone3 }}</a></p>
				</div>
				<a class="button-close" href="#dialog">X</a></section>
			</div>
		</div>