    	<div class="jdialog closed" id="dialog">
			<div>
				<div class="thumb-3">
					<span class="icon-build"></span>
				</div>
				<div class="thumb-9">
				<h4>Pascual y Furio</h4>
				<h4><small>Valencia</small></h4>
				<p>{{ site.location2 }} {{ site.city2 }}<br><a href="mailto:{{ site.email2 }}">{{ site.email2 }}</a> <a href="tel:{{ site.phone2 }}">{{ site.phone2 }}</a></p>
				<h4><small>Catalunya</small></h4>
				<p>{{ site.location }} {{ site.city }}<br><a href="mailto:{{ site.email2 }}">{{ site.email }}</a> <a href="tel:{{ site.phone }}">{{ site.phone }}</a></p>
				</div>
				<a class="button-close" href="#dialog">X</a></section>
			</div>
		</div>