        <header id="page-header" class="cover landing anm-scaleUpDown slow">
				<div>
					<div class="cell-5">
						<h2><img src="./hipertextos/brand/caresens.png" alt="CareSens Dual imagen" id="arenas" class="anm-moveFromRightFade slow"></h2>
					</div>
					<div class="fronter cell-7 anm-fadeIn delay-600">
						<h1 class="caresense-tipo">{{ site.name }}</h1>
						<p>{{ site.description }}<p>
						<br>
						<h5><b>GDH - FAD</b><br>
						<small>Glucosa Dehidrogenasa con coenzima FAD</small></h5>
						 <ul class="list-circle">
							<li>SIN INTERFERENCIAS</li>
							<li>GLUCOSA Y CUERPOS CETONICOS</li>
							<li>RETROILUMINADO</li>
							<li>ALARMAS PRE Y POSTPRANDIAL</li>
							<li>EXPULSIÓN DE TIRA</li>
							<li>Mínima necesidad de gota de sangre</li>
							<li>0,4 microlitros</li>
						</ul>
					</div>
						<div id="frontcase" class="anm-rotatePullBottom delay-700">
							<h6><img id="bluetooth" src="{{ site.baseurl }}/hipertextos/svg/bluetooth.svg"> CONEXIÓN BLUETOOTH</h6>
							<h6><span class="icon-android"> <b>Android</b></span> <span class="icon-apple"> <b>Apple</b></span> <span class="icon-windows"> <b>Windows</b></span></h6>
						</div>

				</div>
				<hr>
				<div id="frontbuttons">
					<em><a class="anm-moveFromLeftFade delay-800" href="{{ site.baseurl }}/manuales" title="Veure la Carta"><i class="icon-book"></i>MANUALES</a></em>
					<em><a class="anm-moveFromLeftFade delay-700"  href="{{ site.baseurl }}/sintomas" title="Trucar al {{ site.phone }}"><i class="icon-info"></i>¿QUÉ ES LA DIABETES?</a></em>
					<em><a class="anm-moveFromRightFade delay-700"  href="{{ site.baseurl }}/prevencion" title="Horaris & Serveis"><i class="icon-spam"></i>PREVENCIÓN</a></em>
					<em><a class="anm-moveFromRightFade delay-800"  href="{{ site.baseurl }}/ninos" title="Veure localització al mapa"><i class="icon-heart"></i>DIABETES EN NIÑOS</a></em>
				</div>
				<hr>
		</header>