        <header id="page-header" class="cover anm-fadeIn" style="background-image: url('{{ site.baseurl }}/hipertextos/brand/cover.jpg');">
				<div>
					<div class="cell-5">
						<h2><img src="./hipertextos/brand/caresens.png" alt="CareSens Dual imagen" id="arenas" class="anm-moveFromRightFade delay-100 slow"></h2>
					</div>
					<div class="cell-7 anm-scaleUp delay-500 slow">
						<h3 class="caresense-tipo">CareSens® Dual</h3>
						<h4>h4 Textos</h4>
						<h3>h3 Textos</h3>
						<h2>h2 Textos</h2>
						<h1>h1 Textos</h1>
						<p>P Texto y mas texto, cuerpo de textos...</p>
					</div>
				</div>
				<div>
					<em><a class="anm-moveFromLeftFade delay-500" href="{{ site.baseurl }}/carta" title="Veure la Carta"><i class="icon-file"></i>CARTA</a></em>
					<em><a class="anm-moveFromLeftFade delay-400"  href="tel:{{ site.phone }}" title="Trucar al {{ site.phone }}"><i class="icon-mobile"></i>TRUCAR</a></em>
					<em><a class="anm-moveFromRightFade delay-400"  href="#layout" title="Horaris & Serveis"><i class="icon-alarm"></i>HORARIS</a></em>
					<em><a class="anm-moveFromRightFade delay-500"  href="#mapa" title="Veure localització al mapa"><i class="icon-location"></i>MAPA</a></em>
				</div>
				<hr>
		</header>