        <header id="page-header" class="cover anm-fadeIn" style="background-image: url('{{ site.baseurl }}/hipertextos/brand/cover.jpg');">
				<div>
					<div class="cell-5">
						<h2><img src="./hipertextos/brand/caresens.png" alt="CareSens Dual imagen" id="arenas" class="anm-moveFromRightFade delay-100 slow"></h2>
					</div>
					<div class="cell-7 anm-scaleUp delay-500 slow">
						<h3 class="caresense-tipo">CareSens® Dual</h3>
						 <ul class="list-circle">
							<li>SIN INTERFERENCIAS</li>
							<li>GLUCOSA Y CUERPOS CETONICOS</li>
							<li>RETROILUMINADO</li>
							<li>ALARMAS PRE Y POSTPRANDIAL</li>
							<li>EXPULSIÓN DE TIRA</li>
							<li>CONEXIÓN BLUETOOTH INCORPORADA</li>
							<li>SOFTWARE SMARTLOG (ANDROID, iOS, PC)</li>
							<li>Mínima necesidad de gota de sangre</li>
							<li>0,4 microlitros</li>
						</ul>
					</div>
				</div>
				<div>
					<em><a class="anm-moveFromLeftFade delay-500" href="{{ site.baseurl }}/carta" title="Veure la Carta"><i class="icon-file"></i>CARTA</a></em>
					<em><a class="anm-moveFromLeftFade delay-400"  href="tel:{{ site.phone }}" title="Trucar al {{ site.phone }}"><i class="icon-mobile"></i>TRUCAR</a></em>
					<em><a class="anm-moveFromRightFade delay-400"  href="#layout" title="Horaris & Serveis"><i class="icon-alarm"></i>HORARIS</a></em>
					<em><a class="anm-moveFromRightFade delay-500"  href="#mapa" title="Veure localització al mapa"><i class="icon-location"></i>MAPA</a></em>
				</div>
				<hr>
		</header>