	<div id="dialog">
	<div>
		<input id="modal-two" type="checkbox" hidden>
		<label class="overlay" for="modal-two" hidden></label>
		<dialog>
				<label for="modal-two">x</label>
			<header>
				<h2><i class="icon-calendar"></i>Video<h2>
				<h6 class="lead">Guía de Usuario</h6>
			</header>
			<div>
				<figure class="anm-scaleUpDown delay-600">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/zDff3X3XuHY?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
				</figure>
			</div>
		</dialog>
	</div>
	</div>