/* by Isard Miralles  ADDING CSS */
/* ------------------------------------------------------------ Resets */

footer, #follows, #follows-big, #icons, #covers, .nav-scroll, #web-credits, #page-header, #mapa, #post-share, #layout {
text-align: center;}
main {font-family:var(--font-default);padding-top:36px;margin-bottom: 0;}
body {text-align: justify;-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;-o-hyphens:none;hyphens:none;word-wrap:none;}

.caresense-tipo {font-family:var(--font-corp);letter-spacing: 0.001em!important;
    font-weight:bold!important;font-size:2.6em;}

/* Nav */
#site-nav {font-family:var(--font-default-nav);background: var(--color-soft-black) !important;border-bottom: none;font-size: 15px;line-height:20px;color: var(--color-grey);}
#site-nav a, #site-nav strong label {color:var(--color-soft)!important;text-transform:uppercase;font-weight: bold ;border: none;}
#site-nav strong label {line-height:20px;font-size: 15px;letter-spacing: 0.075em}
#site-nav strong label:hover {border:none;}
#site-nav a:visited { color: var(--color-grey);text-decoration: none;}
#site-nav a:hover, #site-nav a b:hover { color: var(--color-white);text-decoration: none;}
#site-nav a b img {width:auto;font-size:21px;padding-top:0px;margin-left:3px;margin-right:6px;border:none!important;}
#site-nav a b svg:hover, #site-nav a b svg:active, #site-nav a b svg:focus {border:transparent!important;}
#site-nav label {color:var(--color-grey);border:thin solid transparent;}
#site-nav label:hover {color:var(--color-soft-grey);border:thin solid #353535;}
#site-nav em a {color:var(--color-grey)!important ;position:absolute;top:0;right:12px;background:transparent!important;width:40px;padding-right:0;}
#site-nav em a:visited {color:var(--color-grey)!important ;}
#site-nav em a:hover {color:#fafafa!important;fill:#fafafa!important;stroke:#fafafa!important;}
#site-logo a, #site-logo a:hover, #site-logo a:visited {color:var(--color-white)!important;}

#site-nav .site-logo {z-index:10;overflow:hidden;width:56px;
    padding-left:0px;padding-top:0;height:56px;}

/* Header cover*/
#page-header {color:var(--color-grey);text-align:left;}
#page-header h1 {line-height:0.12em;margin-top:0.12em;font-weight:normal;}
#page-header h2 img {border:none;width:269px;height:100%;margin-left:10px; }
#page-header .cover {background-color:rgba(220,220,220,0.9);}
#cover-logo {min-width:56px;width:100%;height:56px;}
#page-header div em a {color:var(--color-blue);background-color:rgba(220,220,220,0.9);
    border-radius:6px;font-size:16px;letter-spacing:0.06em ;padding:12px 14px;}
#page-header div em a i svg {width:15px;padding:3px 0 0 0;}
#page-header div em a:hover {text-decoration:none;color:var(--color-white);background-color:var(--color-blue);}
#page-header h3 {font-size:18px;line-height:1.5em;}
#page-header h3 b {font-size:2.32em;line-height:1.5em;font-weight:normal;}
#page-header p {letter-spacing: 0.021em}
#page-header .list-circle, #page-header h3 {text-align:left;line-height:1.5em;letter-spacing: 0.069em;}
#page-header h3 {margin-bottom:1em;}
#frontcase svg, #frontcase img {width:32px;height:32px;margin:0 6px -8px 6px;float:none;}
#frontcase { 
    background-color:rgba(220,220,220,0.9);color:var(--color-blue) ;height:100%;
    text-align: left;padding:3px;padding-bottom:0px;padding-top:12px;
    border-radius:9px;max-width:80%;
}
#frontcase h6 {letter-spacing: 0.069em;font-weight: normal!important;
    line-height: 21px!important ;}
#frontbuttons {text-align:center;float:none;min-width:100%;display:inline-block;}
#frontbuttons i svg {min-width:1.1em;min-height:30px;height:23px;}


/* Body & co */
.universe {text-align:center!important;}
#page-main .top {text-align:center;float:none;background-color:var(--color-white);
    width:72px;max-height:72px;margin-left:48.21%;border:4px solid rgba(60,160,255,1);
    margin-top:-110px;box-shadow:1px 6px 12px rgba(0,0,0,.21);border-radius:50%;
    opacity:100%;
}
#page-main .top img {transform: rotate(180deg);margin:1px;}
hr.lines {border-bottom:thin solid var(--color-grey);}
.detalls a {padding-left:32px;padding-right:32px;}
#layout i svg {width: 18px;position:absolute ;left:49.3%;padding-bottom:32px;}
#horari {color:var(--color-blue);min-width:100%;background-image:linear-gradient(white, rgba(220,220,220,1));height:250px;}
#horari h4, #domicili h4 {margin-bottom:6px;}
#exclusivas h4 {text-align:right;color:var(--color-red);}
#exclusivas , #isens  {padding-top:56px!important;}
.exclusivas  {float:right!important;}
#mapa {margin-bottom:-11px;}
#layout em a {background-color:var(--color-soft-black);color:var(--color-soft);border-radius:6px;padding-left:32px;padding-right:32px;}
#layout em a:hover, #layout em a:active, #layout em a:focus {background-color:var(--color-white);color:var(--color-black);}
.cover-front {
	background-position: bottom center;
	background-attachment: fixed;display:block;
	background-size:1920px;width:1920px;height:420px;	background-repeat: no-repeat;
	border:none;color: #000;letter-spacing: .2em;
	padding-top: 32px;text-align:right;
}
#layout .justify {text-align: justify;color:var(--color-hardgrey);}
#layout .justify h5 {font-size:1.1em;line-height:1em;}
#advanced {color:var(--color-hardgrey) ;border:thin solid var(--color-softgrey);max-height:220px;overflow:hidden;margin:48px 0 48px 0;text-align:left;}
#advanced .thumb-9 {padding-left:12px;padding-top:23px;}
.cover-front h2, .cover-front h3 {margin:0px;}
#especifics span svg {width:64px;height:64px;padding-top:12px;margin-top:8px;color:var(--color-grey);}
#especifics h5 {line-height:1.2em!important;font-size:.97em!important;margin-top:-12px;}

/* Buttons hexagons */
#icons em a {background-color:transparent ;background-repeat:no-repeat  ;background-size:100px;width:100px;height:100px;
    color:var(--color-grey);border:2px solid var(--color-grey);border-radius:50%;padding-left:32px;padding-right:32px;margin:6px;}
#icons em a:hover, #icons em a:focus, #icons em a:active {color:var(--color-white);border:2px solid var(--color-white);}
#postalcode button {background-color:transparent ;background-image: url(/hipertextos/brand/hexagon.png);background-repeat:no-repeat  ;background-size:100px;width:100px;height:100px;border:none!important;
padding-top:3px;color:var(--color-white);font-weight: normal;font-size:20px;}
#horari i svg, #domicili i svg {background-color:transparent ;background-image: url(/hipertextos/brand/hexagonblack.png);background-repeat:no-repeat;background-size:250px;width:250px;height:250px;border:none!important;
padding-left:80px;padding-right:80px;padding-top:36px;}
#location i svg {background-color:transparent ;background-image: url(/hipertextos/brand/hexagon.png);background-repeat:no-repeat;background-size:100px;width:100px;height:100px;border:none!important;
padding-left:32px;padding-right:32px;padding-top:6px;color:var(--color-softgrey);}

.slide-wrapper  {color:var(--color-hardgrey);}
.cover-slide {background-size:100%;min-height:100%;}
.button-slide  {color:var(--color-white) ;background-color:var(--color-red);padding:4px 12px 4px 12px;margin:8px;border-radius:9px;border:thin solid var(--color-red);}
.button-slide:hover  {color:var(--color-red) ;background-color:transparent;border:thin solid var(--color-red);}

#foot-cover.cover {width:100%;	height: 400px;padding-top:50px;color:var(--color-white);}
#foot-cover.cover svg {float:none;text-align: center;width:30px;}

#mapa {background-color:#222;padding-top:23px;color:var(--color-hardgrey);}
#mapa h4 {color:var(--color-soft);font-size: 21px;line-height: 21px}
#mapa h4 div img {float:none;	height: 30px;);margin: -.25em .5em -.25em -.5em;width: 30px; }
#mapa h4 .red {background:var(--color-red);}
#mapa h4 .green {background:var(--color-green);}
#mapa h4 div {display:inline;padding-left:12px;padding-right:12px;border-radius:3px;color:var(--color-soft);}

/* Footer */ 
#page-footer {background:#222;box-shadow: inset 0 0 56px rgba(0, 0, 0, .32);bottom: 0px;width: 100%;}
#page-footer h5 a {text-decoration:none;font-size:0.9em;letter-spacing: 0.05em;}

#page-footer .footer-logo  {width:380px;}
#page-footer .thumb-6 {line-height:1.3em;font-size:0.9em;padding-bottom:69px;}
#page-footer em a {background:transparent;color:#999;}
#footer-home img {max-width:680px;height:260px;margin-bottom:-30px;}
#page-footer p {text-align:left;line-height:2.3em!important;}
#page-footer h5 {text-align:left;color:var(--color-white);max-width:60%;}
#page-footer h5 svg {margin-right:1px;padding:0 2px 0 2px;margin-top:2px;}
#page-footer p svg {margin-right:3px;padding:5px;}
.foot-links {letter-spacing: 0.05em; text-decoration:none;border-radius:12px;
    padding:4px 12px 4px 12px;margin-bottom:6px;border:1px solid #333;}
#page-footer em a {border: thin solid #333;font-weight:lighter!important;text-align:left;}
#page-footer em a:hover {border: thin solid #555;color:var(--color-white);}
#page-footer .universe {color:var(--color-hardgrey);}
#page-footer .universe a {color:var(--color-grey);text-decoration:none;}
#page-footer .universe a:hover {color:var(--color-grey);text-decoration:underline;}

@media (max-width: 1250px) {
    #page-header.cover {height: 100%;padding-top: 160px;}
    #page-header h2 img {width:230px;height:100%;margin-left:64px; }
}
@media (max-width: 1242px) {
    #page-header.cover {height: 100%;padding-top: 130px;}
    #page-header h2 img {width:180px;height:100%;margin-left:30% }
}
@media (max-width: 768px) {
    #page-header.cover {height: 100%;padding-top: 45px!important;}
    #page-header h2 img {width:180px;height:100%;margin-left:10% }
	#page-header h1 {line-height:1em;margin-top:0.12em;font-size:32px ;}

	#page-header div em a i svg {display:none;}
    #page-header div em a {width:100%;}
	#page-header .list-circle {font-size:15px;line-height:1.2em;letter-spacing: 0.001em;}
    #frontcase {font-size:12px!important;}
    #frontcase svg, #bluetooth {width:15px;padding-top:7px;}
    #page-header div em a {font-size:14px;letter-spacing:0.03em ;padding:12px 12px;width:45%;margin-bottom:6px;}
	#page-header div em a i svg {}
    #page-header.cover h3 {font-size:0.6em;}
    #horari h4, #horari h3, #domicili h4, #domicili h3 {text-align:center!important;}
    #horari h4, #domicili h4 {font-size:1.6em ;line-height:.75em ;padding-left:6%;padding-right:6%;}
    #horari .thumb-6, #domicili .thumb-6 {width:100%;}
 	#horari i svg, #domicili i svg {background-size:150px;width:150px;height:150px;padding-left:50px;padding-right:50px;padding-top:32px;margin-bottom:12px;}
    .cover-front h2, .cover-front h3 {font-size: 15px;line-height:32px;}
    .cover-front {background-size:900px;width:900px;height:420px;padding-top: 12px;}
    #page-footer .thumb-6 {font-size: 16px;width:100%;}
    #page-footer p {font-size: 13px;}
    #footer-home img {max-width:100%;}
    #page-footer div section a {width:21%;padding:16px;}
    #page-footer div {padding:2px;}
    #mapa h3 small {font-size: 16px;letter-spacing: 0.05em;}
    #mapa h4 {font-size: 20px;line-height: 20px}
	#mapa h4 div img {height: 20px;);margin: -.15em 0 -.15em -.5em;width:20px; }
	#mapa h4 div {padding-left:12px;padding-right:12px;border-radius:2px;}


}

@media (max-width: 432px) {
    #page-header.cover {height: 100%;padding-top: 60px;}
    .cover-front h2, .cover-front h3 {font-size: 12px;line-height:23px;}
    .cover-front {background-size:750px;width:750px;height:230px;padding-top: 12px;}
	#page-header div em a i svg {display:none;}
    #page-header div em a {width:100%;}
}			