/* by Isard Miralles  ADDING EXTRA to SINTOMAS - CSS */

#page-header.carta-header {background-image: url("/hipertextos/brand/carta.jpg");background-color:var(--color-softgrey);font-family:'Lato', sans-serif; text-transform: uppercase; border:none;height: 360px;padding-top:180px;background-position: center;background-attachment: fixed;background-size: cover;background-repeat: no-repeat;
    border:none;color: var(--color-red);letter-spacing: .2em;overflow: hidden;text-align: center;
}

#layout {text-align:justify;}


@media (max-width: 1250px) {
    #page-header.carta-header {height: 280px;padding-top:130px;}
}
@media (max-width: 1242px) {
    #page-header.carta-header {height: 260px;padding-top:90px;}
    .thumb-4 {width: 49.9999999999%;}
}
@media (max-width: 768px) {
    #page-header.carta-header {
    	background-image: url("/hipertextos/brand/carta_mcover.jpg");background-size: top auto;background-position:fixed !important;}
    #foot-cover.cover {
    	background-image: url("/hipertextos/brand/carta_m.jpg");background-size:top auto;background-position:fixed !important;}
    #page-header.carta-header { height: 190px;padding-top:69px;}
    .thumb-4 {width: 100%;}
}
@media (max-width: 432px) {
	#page-header.carta-header { height: 150px;padding-top:45px;}
    #page-header.carta-header, #foot-cover.cover {background-image: url("/img/texture/grey-geek.png");background-size:198px 200px;background-repeat: repeat;color:var(--color-grey);}
}