/* by Isard Miralles  ADDING CSS */
/* ------------------------------------------------------------ Resets */

footer, #follows, #follows-big, #icons, #covers, .nav-scroll, #web-credits, #page-header, #mapa, #post-share, #layout {
text-align: center;}
main {font-family:var(--font-default);padding-top:36px;margin-bottom: 0;}
body {text-align: justify;-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;-o-hyphens:none;hyphens:none;word-wrap:none;}

.caresense-tipo {font-family:var(--font-corp);letter-spacing: 0.001em!important;
    font-weight:bold!important;}
.fontcorp {font-family:var(--font-corp);}

/* Nav */
#site-nav {font-family:var(--font-default-nav);background: var(--color-soft-black) !important;border-bottom: none;font-size: 15px;line-height:20px;color: var(--color-grey);}
#site-nav a, #site-nav strong label {color:var(--color-soft)!important;text-transform:uppercase;font-weight: normal ;border: none;letter-spacing: 0.05em}
#site-nav strong label {line-height:20px;font-size: 15px;letter-spacing: 0.075em; }
#site-nav strong label:hover {border:none;}
#site-nav a:visited { color: var(--color-grey);text-decoration: none;}
#site-nav a:hover, #site-nav a b:hover { color: var(--color-white);text-decoration: none;}
#site-nav a b img {width:auto;font-size:21px;padding-top:0px;margin-left:3px;margin-right:6px;border:none!important;}
#site-nav a b svg:hover, #site-nav a b svg:active, #site-nav a b svg:focus {border:transparent!important;}
#site-nav a b {font-family:var(--font-corp);text-transform: none;font-size:1.1em;font-weight:lighter;}
#site-nav label {color:var(--color-grey);border:thin solid transparent;}
#site-nav label:hover {color:var(--color-soft-grey);border:thin solid #353535;}
#site-nav em a {color:var(--color-grey)!important ;position:absolute;top:0;right:12px;background:transparent!important;width:40px;padding-right:0;}
#site-nav em a:visited {color:var(--color-white)!important ;}
#site-nav em a:hover {color:#fafafa!important;fill:#fafafa!important;stroke:#fafafa!important;}
#site-logo a, #site-logo a:hover, #site-logo a:visited {color:var(--color-white)!important;}

#site-nav .site-logo {z-index:1;overflow:hidden;width:56px;
    padding-left:0px;padding-top:0;height:56px;margin-top:2px;}

/* Header cover*/
#page-header {color:var(--color-grey);text-align:left;height:100%;padding-top:72px;}

#page-header h1 {font-size:2.1em;line-height:1.2em;font-weight:normal;}
#page-header h2 img {border:none;width:269px;height:100%;margin-left:10px; }
#page-header.cover {background-color:rgba(220,220,220,0.90);}
#cover-logo {min-width:56px;width:100%;height:56px;}
#page-header div em a {color:var(--color-blue);background-color:rgba(220,220,220,0.9);
    border-radius:6px;font-size:16px;letter-spacing:0.06em ;padding:12px 14px;}
#page-header div em a i svg {width:15px;padding:3px 0 0 0;}
#page-header div em a:hover {text-decoration:none;color:var(--color-white);background-color:var(--color-blue);}
#page-header .fronter h5 {line-height:0.8em;font-weight:normal;letter-spacing: 0.002em}
#page-header .fronter h5 b {line-height:1.2em;font-weight:lighter;}
#page-header p {font-size:16px;line-height:1.2em;letter-spacing: 0.0023em;}
#page-header .list-circle {text-align:left;font-size:90%;line-height:1.6em;letter-spacing: 0.069em;}
#page-header h3 {margin-bottom:1em;}
#frontcase svg, #frontcase img {width:1.2em;height:25px;margin:0 3px -5px 7px;float:none;}
#frontcase { 
    background-color:rgba(221,221,221,0.90);color:var(--color-blue) ;height:100%;
    text-align: left;padding:3px;padding-bottom:0px;padding-top:12px;
    border-radius:9px;max-width:80%;
}
#frontcase h6 {letter-spacing: 0.069em;font-weight: normal!important;
    line-height: 21px!important ;letter-spacing: 0.0001em}
#frontbuttons {text-align:center;float:none;min-width:100%;display:inline-block;}
#frontbuttons i svg {min-width:1.1em;min-height:30px;height:23px;}
#frontcase b {font-weight:normal!important;letter-spacing: 0.0001em}

/* Body & co */
.universe {text-align:center!important;}
#page-main .top {text-align:center;float:none;background-color:var(--color-white);
    width:72px;max-height:72px;margin-left:48.21%;border:4px solid rgba(60,160,255,1);
    margin-top:-110px;box-shadow:1px 6px 12px rgba(0,0,0,.21);border-radius:50%;
    opacity:100%;
}
#page-main .top img {transform: rotate(180deg);margin:1px;}
hr.lines {border-bottom:thin solid var(--color-grey);}
.detalls a {padding-left:32px;padding-right:32px;}
#layout i svg {width: 18px;position:absolute ;left:49.3%;padding-bottom:32px;}
#horari {color:var(--color-blue);min-width:100%;background-image:linear-gradient(white, rgba(220,220,220,1));height:250px;}
#horari h4, #domicili h4 {margin-bottom:6px;}
#exclusivas h4 {text-align:right;color:var(--color-red);}
#exclusivas , #isens  {padding-top:56px!important;}
.exclusivas  {float:right!important;}
#mapa {margin-bottom:-11px;}
#layout em a {background-color:var(--color-soft-black);color:var(--color-soft);border-radius:6px;padding-left:32px;padding-right:32px;}
#layout em a:hover, #layout em a:active, #layout em a:focus {background-color:var(--color-white);color:var(--color-black);}
.cover-front {
	background-position: bottom center;
	background-attachment: fixed;display:block;
	background-size:1920px;width:1920px;height:420px;	background-repeat: no-repeat;
	border:none;color: #000;letter-spacing: .2em;
	padding-top: 32px;text-align:right;
}
#layout .justify {text-align: justify;color:var(--color-hardgrey);}
#layout .justify h5 {font-size:1.1em;line-height:1em;}
#advanced {color:var(--color-hardgrey) ;border:thin solid var(--color-softgrey);max-height:220px;overflow:hidden;margin:48px 0 48px 0;text-align:left;}
#advanced .thumb-9 {padding-left:12px;padding-top:23px;}
.cover-front h2, .cover-front h3 {margin:0px;}
#especifics span svg {width:64px;height:64px;padding-top:12px;margin-top:8px;color:var(--color-grey);}
#especifics h5 {line-height:1.2em!important;font-size:.97em!important;margin-top:-12px;}

/* Buttons hexagons */
#icons em a {background-color:transparent ;background-repeat:no-repeat  ;background-size:72px;width:72px;height:72px;
    color:var(--color-grey);border:2px solid var(--color-grey);border-radius:50%;padding-left:23px;padding-right:23px;margin:6px;}
#icons em a:hover, #icons em a:focus, #icons em a:active {color:var(--color-white);border:2px solid var(--color-white);}
#postalcode button {background-color:transparent ;background-image: url(/hipertextos/brand/hexagon.png);background-repeat:no-repeat  ;background-size:100px;width:100px;height:100px;border:none!important;
padding-top:3px;color:var(--color-white);font-weight: normal;font-size:20px;}
#horari i svg, #domicili i svg {background-color:transparent ;background-image: url(/hipertextos/brand/hexagonblack.png);background-repeat:no-repeat;background-size:250px;width:250px;height:250px;border:none!important;
padding-left:80px;padding-right:80px;padding-top:36px;}
#location i svg {background-color:transparent ;background-image: url(/hipertextos/brand/hexagon.png);background-repeat:no-repeat;background-size:100px;width:100px;height:100px;border:none!important;
padding-left:32px;padding-right:32px;padding-top:6px;color:var(--color-softgrey);}

.slide-wrapper  {color:var(--color-hardgrey);}
.cover-slide {background-size:100%;min-height:100%;border:1px solid var(--color-grey);}
.heighter {min-height:670px;}
.button-slide  {color:var(--color-white) ;background-color:var(--color-red);padding:4px 12px 4px 12px;margin:8px;border-radius:9px;border:thin solid var(--color-red);}
.button-slide:hover  {color:var(--color-red) ;background-color:var(--color-white);border:thin solid var(--color-red);}
.excl h2 {color:var(--color-white);}
#foot-cover.cover {width:100%;	height: 400px;padding-top:50px;color:var(--color-white);}
#foot-cover.cover svg {float:none;text-align: center;width:30px;}

#mapa {background-color:#222;padding-top:23px;color:var(--color-hardgrey);}
#mapa h4 {color:var(--color-soft);font-size: 21px;line-height: 21px}
#mapa h4 div img {float:none;	height: 30px;);margin: -.25em .5em -.25em -.5em;width: 30px; }
#mapa h4 .red {background:var(--color-red);}
#mapa h4 .green {background:var(--color-green);}
#mapa h4 div {display:inline;padding-left:12px;padding-right:12px;border-radius:3px;color:var(--color-soft);}

/* Sections */ 
.section-title {text-align:center!important;line-height:1.8em;font-weight:lighter ;color:var(--color-grey);
    border-top:thin solid var(--color-grey);border-bottom:thin solid var(--color-grey);}
blockquote {background-color:rgba(255,255,255,.69);border:thin solid var(--color-softgrey) ;border-left:10px solid var(--color-softgrey);}
#layout a span svg {width:2.3em;height:2.3em;display:position:relative;padding-top:25px;}

#layout.sectional img  {max-width:155px;float:left;}
.sectional .righter  {float:right!important;max-width:200px!important;}

.titled {text-align:left;font-size:1.3em;}
.corpus {font-size:1.1em;font-weight:normal;}

/* Modal expander */ 
div.jdialog {background-color:var(--color-black);color:var(--color-white);opacity:0.92;
    font-weight:lighter ;letter-spacing: 0.069em; }
div.jdialog p {font-size:100%;}
div.jdialog h6 {font-size:1.6em;line-height:1.2em;margin-top:1%;}
section.jdialog  {}
.button-close  {float:none!important;text-decoration:none;
    position:absolute;top:12px;right:15px;
    color:var(--color-white) !important;background-color:var(--color-hardgrey)!important;text-align:center;
    opacity:.9;border:2px solid var(--color-black);width:35px;height:35px;border-radius:50%;
}
.button-close:hover, .button-close:focus {background-color:var(--color-black)!important;color:var(--color-white)!important;border-color:var(--color-white);}

/* Collapser */

.collapser, 
.jcollapser,
.ccollapser {
	position: relative;
}
.alert {
	cursor: crosshair;
}
.jtrigger {
	cursor: pointer;
}
.collapsed, 
.closed,
.ccollapsed {
	display: none;
	visibility: hidden;
}
.collapser:hover > .collapsed, 
.opened,
.ctrigger:checked ~ .ccollapsed {
  	display: block;
	visibility: visible;
}
@media (max-width: 767px) {
	.togglecollapsed {
		display: none;
	}
	.toggletrigger:checked ~ .togglecollapsed {
		display: block;
	}
}

/* Visibilty */

.closed { display: none !important; visibility: hidden; }
.opened { display: block !important; visibility: visible; }

/* Overlay */
.overlay { background: transparent;display: block;position: fixed;top: 0; left: 0;height: 100%;width: 100%;z-index: 50;}

/* Dialogs */
.dialog,
.jdialog,
.dialog-block { background: #fff;border-color: #ddd;padding:2%;border-radius:8px;
	box-shadow:  0 0 20em 30em rgba(255,255,255,.9);color: inherit;display: block;
	height: auto;margin: 0;padding-top:32px;position: fixed;width: auto;
    z-index: 950;top: 16%;left: 10%;width: 80%;}
.dialog { display: none; }
.open-dialog:checked ~ .dialog { display: block; }
.dialog-block.fullscreen,
.dialog-block.top,
.dialog-block.bottom { width: 100% !important;}

@media (max-width: 768px) {
	[class*='dialog'] {
		overflow-x: auto;
		top: 3em;
		left: 5%;
		width: 90%;
	}
}

/* Footer */ 
#page-footer {background:#222;box-shadow: inset 0 0 56px rgba(0, 0, 0, .32);bottom: 0px;width: 100%;}
#page-footer h5 a {text-decoration:none;font-size:0.9em;letter-spacing: 0.05em;}

#page-footer .footer-logo  {width:380px;}
#page-footer .thumb-6 {line-height:1.3em;font-size:0.9em;padding-bottom:69px;}
#page-footer em a {background:transparent;color:#999;}
#footer-home img {max-width:680px;height:260px;margin-bottom:-30px;}
#page-footer p {text-align:left;line-height:1.3em!important;font-size:15px;}
#page-footer h5 {text-align:left;color:var(--color-white);max-width:60%;}
#page-footer h5 svg {margin-right:12px;padding:0 3px 0 3px;margin-top:2px;}
#page-footer p svg {margin-right:3px;padding:5px;}
.foot-links {letter-spacing: 0.012em; text-decoration:none;border-radius:12px;
    padding:4px 12px 4px 12px;margin-bottom:6px;border:1px solid #333;}
#page-footer em a {border: thin solid #333;font-weight:lighter!important;text-align:left;}
#page-footer em a:hover {border: thin solid #555;color:var(--color-white);}
#page-footer .universe {color:var(--color-hardgrey);}
#page-footer .universe a {color:var(--color-grey);text-decoration:none;}
#page-footer .universe a:hover {color:var(--color-grey);text-decoration:underline;}

@media (max-width: 1250px) {
    #page-header.cover {height: 100%;padding-top: 100px;}
    #page-header h2 img {width:230px;height:100%;margin-left:64px;}
    #page-header .cell-5 {width: 33.3333333333%;}
    #page-header .cell-7 {width: 66.6666666666%;}
    #page-header p, #page-header h3 {line-height:1.2em;}
    .heighter {min-height:650px;}
    #page-header p {font-size:15px;line-height:1em;letter-spacing: 0.001em;}
}
@media (max-width: 1242px) {
    #page-header.cover {height: 100%;padding-top: 90px;}
    #page-header h2 img {width:180px;height:100%;margin-left:16% }
    #page-header .cell-5 {width: 29.9999999999%;margin-left:10%;}
    #page-header .cell-7 {width: 59.9999999999%;}
    #page-header h3 {font-size:15px;line-height:1.1em;}
    #page-header p {font-size:12px;line-height:1em;letter-spacing: 0.001em;}
    #layout {font-size:90%;letter-spacing: 0.001em}
    #frontcase {max-width:55%;}
	#horari {height:250px;}
	#horari h4, #domicili h4 {font-size:1em;margin-bottom:6px;}
    #horari h4 small, #domicili h4 small {font-size:12px;margin-bottom:6px;}
    #horari .thumb-4, #exclusivas .thumb-4 {width:34.3333333333%;}
    #horari .thumb-2 {width:13%;}
    .heighter {min-height:580px;}
    #especifics {margin:0 0 50px 0;padding-top:21px;border:thin solid var(--color-softgrey);border-left:none;border-right:none;}
}
@media (max-width: 900px) {
	#page-header.landing {
    background-image: url("/hipertextos/brand/cover_mcover.jpg")!important;background-size: top auto;background-position:fixed !important;background-attachment: fixed;background-size: cover;background-repeat: no-repeat;}
    .heighter {min-height:500px;}
    #page-header p {font-size:12px;}
    #page-header div em a {font-size:14px;letter-spacing:0.03em ;padding:12px 12px;width:45%;margin-bottom:6px;}
    div.jdialog p {font-size:19px;letter-spacing: .01em;line-height: 1.9em;}
	div.jdialog h6 {font-size:26px;line-height:18px;margin-top:2%;margin-bottom:21px;}
	div.jdialog .thumb-9 {width:65%;margin-left:1%;}
}
@media (max-width: 768px) {
    #page-header.cover {height: 100%;padding-top: 45px!important;}
	#page-header.landing {
    background-image: url("/hipertextos/brand/cover_m.jpg")!important;background-size: top auto;background-position:fixed !important;background-attachment: fixed;background-size: cover;background-repeat: no-repeat;}
    #page-header h2 img {height:100%;margin-left:6% }
    #page-header .cell-5 {width: 26.9999999999%;margin:1%;}
    #page-header .cell-7 {width: 69.9999999999%;margin-left:1%;}
	#page-header h1 {line-height:1em;margin-top:0.12em;font-size:1.4em ;}
    #page-header p {display:none;}
    #layout {font-size:86%;}
	#page-header div em a i svg {display:none;}
    #page-header div em a {width:100%;}
	#page-header .list-circle {font-size:14px;line-height:1.5em;letter-spacing: 0.001em;}
    #frontcase {font-size:15px!important;min-width:100%;}
    #frontcase svg, #bluetooth {width:15px;padding-top:7px;}
    .justify .list-circle {line-height:1.6em;font-size:90%;letter-spacing: 0.001em}
    #advanced .list-circle {line-height:2em;}
    #advanced img {display:none;}
    #advanced {font-size:82%;min-height:280px!important;border-left:none;border-right:none;}
    #horari {display:none;}
    #page-header div em a {font-size:14px;letter-spacing:0.03em ;padding:12px 12px;width:48%;margin-bottom:6px;}
	#page-header div em a i svg {}
    #page-header.cover h3 {font-size:0.6em;}
    .cover-front h2, .cover-front h3 {font-size: 15px;line-height:32px;}
    .cover-front {background-size:900px;width:900px;height:420px;padding-top: 12px;}
    #page-footer .thumb-6 {font-size: 16px;width:100%;}
    #page-footer p {font-size: 13px;}
    #footer-home img {max-width:100%;}
    #page-footer div section a {width:21%;padding:16px;}
    #page-footer div {padding:2px;}
    #mapa h3 small {font-size: 16px;letter-spacing: 0.05em;}
    #mapa h4 {font-size: 20px;line-height: 20px}
	#mapa h4 div img {height: 20px;);margin: -.15em 0 -.15em -.5em;width:20px; }
	#mapa h4 div {padding-left:12px;padding-right:12px;border-radius:2px;}
	.columns-2 { -webkit-column-count: 1;-moz-column-count: 1;column-count: 1;} 
    .heighter {min-height:380px;}
    div.jdialog p {font-size:14px;letter-spacing: .001em;line-height: 1.8em;}
	div.jdialog h6 {font-size:21px;line-height:13px;margin-top:1%;margin-bottom:18px;}
    div.jdialog .thumb-3 {max-width:21%;}
	div.jdialog .thumb-9 {width:62%;margin-left:2%;}
}

@media (max-width: 432px) {
    #page-header.cover {height: 100%;padding-top: 15px!important;}
    .cover-front h2, .cover-front h3 {font-size: 12px;line-height:23px;}
    .cover-front {background-size:750px;width:750px;height:230px;padding-top: 12px;}
	#page-header div em a i svg {display:none;}
    #page-header div em a {width:100%;}
    #frontcase {margin-top:-38px!important;}
    #frontcase b {display:none;}
    #frontcase h6 {text-align:center;}
    #page-header .cell-5 {width: 25%;margin:0px;}
    #page-header .cell-7 {width: 75%;margin:0px;}
    .heighter {min-height:100px!important;min-width:100%;}
    #page-header h2 img {margin-left:5%;width:80%;margin-top:10px;}
	#page-header .list-circle {font-size:12px;line-height:1.9em;}
    div.jdialog p {font-size:13px;letter-spacing: .00001em;line-height: 1.6em;}
	div.jdialog h6 {font-size:17px;line-height:12px;margin-top:1%;margin-bottom:12px;}
    div.jdialog .thumb-3 {max-width:16%;}
	div.jdialog .thumb-9 {width:72%;margin-left:2%;}
}			