/* by Isard Miralles  ADDING EXTRA to SINTOMAS - CSS */

#page-header.carta-header {background-image: url("/hipertextos/brand/contacte.jpg");background-color:var(--color-softgrey);font-family:var(--font-default); text-transform: uppercase; border:none;background-position: center;background-attachment: fixed;background-size: cover;background-repeat: no-repeat;
    border:none;color: var(--color-white);height: 420px;padding-top:180px;letter-spacing: .002em;overflow: hidden;text-align: center;
}
#page-header h1 {font-size:3.2em;color: var(--color-white);}
#layout {text-align:justify;}
#layout h6 * {font-size:1.2em;font-weight:bold!important;letter-spacing: 0.0001em}
#layout h6 {-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;}
#layout h6 small {font-size:1em;font-weight:lighter!important;}
#layout a {color:var(--color-grey);border:thin solid var(--color-grey);padding:16px 18px 16px 18px;
    line-height:3.2em;border-radius:8px;text-decoration:none;}
#layout a:hover {color:var(--color-white);border:thin solid var(--color-blue);
    background-color:var(--color-blue) ;text-decoration:none;}

@media (max-width: 1250px) {
    #page-header.carta-header {height: 280px;padding-top:130px;}
}
@media (max-width: 1242px) {
    #page-header.carta-header {height: 260px;padding-top:90px;}
    .thumb-4 {width: 49.9999999999%;}
}
@media (max-width: 768px) {
    #page-header.carta-header { height: 190px;padding-top:69px;}
    .thumb-4 {width: 100%;}
}
@media (max-width: 432px) {
	#page-header.carta-header { height: 150px;padding-top:45px;}
}