<!DOCTYPE html>
<html lang="ca-ES">
  <head>
    <meta name="encoding" charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
	<link rel="canonical" href="http://pascualyfurio.diabetes.com/nosotros"/>
	
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/screen.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding-about.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/anime.css" />    
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	<link href="https://fonts.googleapis.com/css?family=Fahkwang:200,300,400,500,600,700" rel="stylesheet">
	
    {% include favicons.html %}

  </head>

  <body>

	<!-- Page content -->
	<div class="page cover-page" id="page">
		{% include partials/navigation/nav.html %}
		<header class="page-header" class="cover anm-moveFromTop">
			<div>
				<section id="dark">
					<div id="contacte" class="thumb-8 pushed-2">
						<div class="cell-4 anm-scaleUpDown slow delay-200">
							<img id="logo-corp" src="{{ site.baseurl }}/hipertextos/brand/logo.png">
						</div>
						<div class="cell-7 pushed-1 anm-moveFromRightFade delay-200">
							<h5><a href="tel:{{ site.phone }}" title="Llamar"><b class="icon-mobile"></b> {{ site.phone }}</a></h5>
							<h5><a href="mailto:{{ site.email }}" title="Enviar correo a {{ site.email }}"><b class="icon-build"></b>  {{ site.email }}</a></h5>
							<h5><a href="#mapa" title="Ir al mapa"><b class="icon-location"></b> {{ site.location }}</a></h5>
						</div>
					</div>
				</section>
				<section id="follows" class="anm-moveFromBottomFade delay-500">
        			{% include svg-icons.html %}
				</section>
			</div>
		</header>
		<main id="page-main">
			<div id="layout" class="anm-fadeIn delay-700">
				<div id="intro">
					<h2>{{ page.titulo }}</h2>
					<section id="us-body" class="columns-2">
      				<p>{{ content }}</p>
					<hr>
					</section>
					<hr>
						<!-- Slides with buttons -->
					<div class="slide-wrapper heighter">
						<button class="button-slide slide-trigger" slide-in="rotateCubeRightIn" slide-out="rotateCubeRightOut">Siguiente</button>	
						<div class="cover-slide slide-page" style="background-image: url('{{ site.baseurl }}/imagenes/corp_1.jpg');">
							<h2>Organigrama</h2>
						</div>
						<div class="cover-slide slide-page" style="background-image: url('{{ site.baseurl }}/imagenes/corp_2.jpg');">
							<h2>La Sede</h2>
						</div>
						<div class="cover-slide excl slide-page" style="background-image: url('{{ site.baseurl }}/imagenes/corp_3.jpg');">
							<hr>
							<hr>
							<h2>Exclusivas<br>
							Pascual y Furio</h2>
						</div>
						<hr>
					</div>
					<hr>
				</div>
			</div>
		</main>
    	<div id="mapa">
  		{% include mapa.html %} 
		</div>
		{% include partials/footer.html %}
	</div><!-- /#page -->
	
		<!-- Out of page
		================================================== -->
		
    {% include partials/video.html %}  

    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.min.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
    {% include analytics.html %}
  </body>
</html>
