<!DOCTYPE html>
<html lang="ca-ES">
  <head>
    <meta name="encoding" charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
	<link rel="canonical" href="http://diabetes-pascualyfurio.com/nosotros"/>
	
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/screen.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding-about.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/anime.css" />    
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	<link href="https://fonts.googleapis.com/css?family=Fahkwang:200,300,400,500,600,700" rel="stylesheet">
	
    {% include favicons.html %}
	
  </head>

  <body>

	<!-- Page content -->
	<div class="page cover-page" id="page">
		{% include partials/navigation/nav.html %}
		<header class="page-header anm-moveFromTop delay-100">
			<div>
				<section id="dark">
					<div id="contacte" class="thumb-8 pushed-2">
						<div class="cell-4 anm-scaleUpDown slow delay-600">
							<img id="logo-corp" src="{{ site.baseurl }}/hipertextos/brand/logo.svg">
						</div>
						<div class="cell-7 pushed-1 anm-moveFromRightFade delay-500">
							<h5><a href="tel:{{ site.phone }}" title="Llamar"><b class="icon-mobile"></b> {{ site.phone }}</a></h5>
							<h5><a href="mailto:{{ site.email }}" title="Enviar correo a {{ site.email }}"><b class="icon-build"></b>  {{ site.email }}</a></h5>
							<h5><a href="#mapa" title="Ir al mapa"><b class="icon-location"></b> {{ site.location }} {{ site.city }}</a></h5>
						</div>
					</div>
				</section>
				<section id="follows" class="anm-moveFromBottomFade delay-700">
        			{% include svg-icons.html %}
				</section>
			</div>
		</header>
		<main id="page-main">
			<div id="layout" class="anm-fadeIn delay-900 slow">
				<div id="intro">
					<h2>{{ page.titulo }}</h2>
					<section id="us-body" class="columns-2">
      				<p>{{ content }}</p>
					</section>
					<hr>
      				<p>Jorge Pascual Furió<br>Gerente<br><br>Exclusivas de Pascual y Furio S.A.</p>
					<hr>
				</div>
			</div>
		</main>
    	<div id="mapa">
  		{% include mapa.html %} 
		</div>
		{% include partials/footer.html %}
	</div><!-- /#page -->
	
		<!-- Out of page
		================================================== -->
		
    {% include partials/dialog.html %}  

    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.min.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
	<script>
		// Collapse & accordion
		$('.jcollapser .jcollapsed').toggleClass('closed');
		$('.jcollapser .jtrigger').click(function(e){
			$(this).next('.jcollapsed').toggleClass('closed anime anm-fadeIn').siblings('.jcollapsed:visible').toggleClass('closed anime anm-fadeIn');
		});
 		// Notification
		$('.notification .button-close').click(function(){
			$(this).closest('.notification').toggleClass('closed');
		});
		// Dialogs
		$('.button-modal, .jdialog .button-close').click(function(){
			var currentDialog = $(this).attr('href');
			$(currentDialog).toggleClass('closed anime anm-moveFromTop');
		});		
	</script>
    {% include analytics.html %}
  </body>
</html>
