<!DOCTYPE html>
<html lang="ca-ES">
  <head>
    <meta name="encoding" charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
	<link rel="canonical" href="http://bonrollobarcelona.com/"/>
	
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/screen.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/components.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
    {% if page.css %}<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding-manuales.css" />{% endif %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/anime.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	<link href="https://fonts.googleapis.com/css?family=Fahkwang:200,300,400,500,600,700" rel="stylesheet">
    {% include favicons.html %}
	
  </head>

  <body>
		
	<!-- Page content -->
	<div class="page" id="page">
	{% include partials/navigation/nav.html %}
	  <section class="jdialog closed" id="warning1">
	  	<div>
		  <h4><span class="icon-build"></span> Pascual y Furio</h4>
		  <h5><small>{{ site.location }} {{ site.city }}</small></h5>
		  <h5><small>{{ site.email }}</small></h5>
		  <a class="button-close" href="#warning1">X</a></section>
	  	</div>

      {{ content }}
      
		{% if page.foot %}
		<hr>
		<div id="foot-cover" class="cover">
			<div>
			<hr>
			<h5>{{ site.lema }}</h5>
			<h5>{{ site.lema2 }}</h5>
			</div>
		</div>
		{% endif %}
    {% include partials/footer.html %}
	</div>
	
		<!-- Out of page
		================================================== -->
	{% if page.video %} {% include partials/video.html %} {% endif %}
    	
    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.js"></script>
	<script>
			// Collapse & accordion
			$('.jcollapser .jcollapsed').toggleClass('closed');
			$('.jcollapser .jtrigger').click(function(e){
				$(this).next('.jcollapsed').toggleClass('closed anime anm-fadeIn').siblings('.jcollapsed:visible').toggleClass('closed anime anm-fadeIn');
			});
			$(document).click(function() {
			  $(".dropmenu").removeClass('opened anime anm-fadeIn');
			});
 			// Notification
			$('.notification .button-close').click(function(){
				$(this).closest('.notification').toggleClass('closed');
			});
 			// Flip
			$('.jfliptrigger').click(function(){
				$(this).closest('.panel-flip').toggleClass('turned');
			});
			// Tabs
			$('.idpanel').toggleClass('closed');
			$('.idtrigger').click(function(e){
				e.preventDefault(); 
				var currentPanel = $(this).attr('href');
				$(this).toggleClass('tab-active').siblings('.idtrigger').removeClass('tab-active');
				$(currentPanel).toggleClass('closed anime anm-fadeIn').siblings('.idpanel:visible').toggleClass('closed anime anm-fadeIn');
				if ($('.idpanel:visible').length) {
				} else {
				}
			});
			// Dialogs
			$('.button-modal, .jdialog .button-close').click(function(){
				var currentDialog = $(this).attr('href');
				$(currentDialog).toggleClass('closed anime anm-moveFromTop');
			});
			
			// Code-get collapsing in small devices
			$('.code-get h5').click(function(e){
				$(this).next('.code-get pre').toggleClass('opened');
			});
			// Tooltip
			$('.tip').hover(function(){
				var title = $(this).attr('title');
				$(this).data('tipText', title).removeAttr('title');
				$('<p class="tooltip"></p>').text(title).appendTo('body').fadeIn('slow');
			}, function() {
				$(this).attr('title', $(this).data('tipText'));
				$('.tooltip').remove();
			}).mousemove(function(e) {
				var mousex = e.pageX + 4; //Get X coordinates
				var mousey = e.pageY - 24; //Get Y coordinates
				$('.tooltip').css({ top: mousey, left: mousex })
			});			
	</script>
	
    {% include analytics.html %}
  </body>
</html>
