<!DOCTYPE html>
<html lang="ca-ES">
  <head>
    <meta name="encoding" charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
	<link rel="canonical" href="http://bonrollobarcelona.com/"/>
	
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/screen.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
    {% if page.sintomas %}<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding-sintomas.css" />{% endif %}
    {% if page.prevencion %}<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding-prevencion.css" />{% endif %}
    {% if page.ninos %}<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding-ninos.css" />{% endif %}
    {% if page.faqs %}<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding-faqs.css" />{% endif %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/anime.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	<link href="https://fonts.googleapis.com/css?family=Fahkwang:200,300,400,500,600,700" rel="stylesheet">
    {% include favicons.html %}
	
  </head>

  <body>
	
	
	<!-- Page content -->
	<div class="page" id="page">
	{% include partials/navigation/nav.html %}
	{% include partials/header.html %}
		{% if page.prevencion %}
		<nav id="page-nav" class="nav-scroll">
			<div>
			<a href="#que-es-la-diabetes" class="anm-moveFromRightFade delay-100"><span class="icon-handwriting"></span>¿Que es la Diabetes?</a>
		    <a href="#tipos-de-diabetes" class="anm-moveFromRightFade delay-200"><span class="icon-tag"></span>Tipos</a>
		    <a href="#riesgos-de-la-diabetes" class="anm-moveFromRightFade delay-300"><span class="icon-warning"></span>Riesgos</a>
		    <a href="#prevención-de-la-diabetes" class="anm-moveFromRightFade delay-400"><span class="icon-support"></span>Prevención</a>
			</div>
		</nav>
		{% endif %}
		<main id="page-main" role="main">
			<div id="layout" class="anm-fadeIn delay-400">
				<div>
		      {{ content }}
	    	  	</div>
      		</div>     
			{% if page.foot %}
			<hr>
			<div id="foot-cover" class="cover">
				<div>
					<h5><small><i class="icon-flickr"></i></small></h5>
					<h4><small>{{ site.description }}</small></h4>
					<h5><small><i class="icon-flickr"></i></small></h5>
				</div>
			</div>
			{% endif %}
    	</main>
    		{% include partials/footer.html %}
	</div>
		<!-- Out of page
		================================================== -->
		
    {% include partials/dialog.html %}  
    	
    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
	<script>
		// Collapse & accordion
		$('.jcollapser .jcollapsed').toggleClass('closed');
		$('.jcollapser .jtrigger').click(function(e){
			$(this).next('.jcollapsed').toggleClass('closed anime anm-fadeIn').siblings('.jcollapsed:visible').toggleClass('closed anime anm-fadeIn');
		});
 		// Notification
		$('.notification .button-close').click(function(){
			$(this).closest('.notification').toggleClass('closed');
		});
		// Dialogs
		$('.button-modal, .jdialog .button-close').click(function(){
			var currentDialog = $(this).attr('href');
			$(currentDialog).toggleClass('closed anime anm-moveFromTop');
		});		
	</script>
    {% include analytics.html %}
  </body>
</html>
